<section>
    <h3>Laatste Nieuws</h3>
    {% for publication in datedpublications %}
    <article>
        <img src=" {{ publication.photo }} " width="100px">
        <p> {{ publication.topic }} </p>
        <p> {{ publication.date }} </p>

        <p> {{ publication.title }} </p>
    {% endfor %}
    </article>
</section>

<section class="column column--span-mobile-12 column--span-tablet-12 column--span-desktop-5">
    <a rel="home" href="/nl/" aria-label="Ga naar Dutch Digital Agencies home page" class="footer__logo-link link">
        <img 
            src="/_astro/logo.CO-nlMzN.svg" 
            alt="" 
            width="217" 
            height="164" 
            class="footer__logo" 
        >
    </a>
</section>

<div class="footer__bottom column column--span-mobile-12 column--span-tablet-12 column--span-desktop-12">
    <ul class="footer__socials">
        <li>
            <a href="https://www.instagram.com/dutchdigitalagencies/" target="_blank" class="link">
                Instagram
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/dutchdigitalagencies" target="_blank" class="link">
                Facebook
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/dutch-digital-agencies/" target="_blank" class="link">
                LinkedIn
            </a>
        </li>
    </ul>
    <p class="footer__copyright text text--paragraph">
        Copyright © 2025 Dutch Digital Agencies
    </p>
</div>

<div class="footer__contact column column--span-mobile-12 column--span-tablet-6 column--span-desktop-4">
    <address class="footer__address">
        <p class="text text--paragraph">Dutch Digital Agencies</p>
        <p class="text text--paragraph">Overhoeksplein 1</p>
        <p class="text text--paragraph">1031 KS Amsterdam</p>
    </address>
    <div class="footer__contact-info">
        <p class="text text--paragraph">
            <a href="tel:+31854010391" class="link">(0)85 4010391</a>
        </p>
        <p class="text text--paragraph">
            <a href="mailto:info@dutchdigitalagencies.com" class="link">
                info@dutchdigitalagencies.com
            </a>
        </p>
    </div>
</div>

<footer class="footer grid grid--border">
    <div class="column column--span-mobile-12 column--span-tablet-12 column--span-desktop-5">
    <a rel="home" href="/nl/" aria-label="Ga naar Dutch Digital Agencies home page" class="footer__logo-link link">
        <img alt="" height="164" src="/_astro/logo.CO-nlMzN.svg" width="217" class="footer__logo">
    </a>
    </div>
        <nav class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
            <ul class="footer__links">
                <li>
                    <a href="/over-ons/" class="link">Over ons</a>
                </li>
                <li>
                    <a href="/events/" class="link">Events</a>
                </li>
                <li>
                    <a href="/publicaties/" class="link">Publicaties</a>
                </li>
                <li>
                    <a href="/leden/" class="link">Leden</a>
                </li>
                <li>
                    <a href="/vacatures/" class="link">Vacatures</a>
                </li>
                <li>
                    <a href="https://www.datocms-assets.com/144536/1740403116-privacy-policy-dutch-digital-agencies.pdf" class="link">Privacy beleid</a>
                </li>
                </ul>
        </nav>
    <div class="footer__contact column column--span-mobile-12 column--span-tablet-6 column--span-desktop-4">
    
    <address class="footer__address">
        <p class="text text--paragraph">Dutch Digital Agencies</p>
        <p class="text text--paragraph">Overhoeksplein 1</p>
        <p class="text text--paragraph">1031 KS Amsterdam</p>
    </address>
    
    <div class="footer__contact-info">
        <p class="text text--paragraph">
            <a href="tel:+31854010391" class="link">(0)85 4010391</a>
        </p>
        <p class="text text--paragraph">
            <a href="mailto:info@dutchdigitalagencies.com" class="link">info@dutchdigitalagencies.com</a>
        </p>
    </div>
</div>
<div class="footer__bottom column column--span-mobile-12 column--span-tablet-12 column--span-desktop-12">
    <ul class="footer__socials">
        <li>
            <a href="https://www.instagram.com/dutchdigitalagencies/" target="_blank" class="link">Instagram</a>
        </li>
        <li>
            <a href="https://www.facebook.com/dutchdigitalagencies" target="_blank" class="link">Facebook</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/dutch-digital-agencies/" target="_blank" class="link">Linkedin</a>
        </li>
        </ul>
            <p class="footer__copyright text text--paragraph">Copyright © 2025 Dutch Digital Agencies</p>
</div>
</footer>


