<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA Publicaties</title>

    <link rel="stylesheet" href="styles/stylesheet.css">
    <link rel= "style" href="styles/style.css">
</head>
<body>

<header>
  <div class="header-logo">
     <img src="https://dutchdigitalagencies.com/_astro/logo.CO-nlMzN.svg" width="200px">
  </div>

  <div class="navigation-bar">
    <a href="#">Over ons</a>
    <a href="#">Events</a>
    <a href="#">Publicaties</a>
    <a href="#">Leden</a>
    <a href="#">vacatures <span>175</span></a>
  </div>

  <div>
    <button>ICON</button>
    <button>ICON</button>
  </div>
</header>

