<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA Publicaties</title>

    <link rel="stylesheet" href="styles/stylesheet.css">
    <link rel= "style" href="styles/style.css">
    
</head>
<body>

    <header class="header">
        <a rel="home" href="/" aria-label="Ga naar Dutch Digital Agencies home page" class="link">
            <img alt="" height="164" src="/_astro/logo.CO-nlMzN.svg" width="217" class="header__logo">
        </a>

    <div class="menu">
        <button type="button" aria-controls="menu" aria-expanded="false" aria-haspopup="menu" 
            aria-label="Open menu" class="menu__burger-button button button--icon-only button--target-area-self">
      <svg role="presentation" data-icon="burger" class="icon button__icon">
        <use href="#burger" xlink:href="#burger"></use>
      </svg>
    </button>

    <div class="menu__overlay">
      <div class="menu__content">
        <div class="menu__header">
          <button type="button" aria-label="Close menu" 
            class="menu__close-button button button--icon-only button--target-area-self">
            <svg role="presentation" data-icon="close" class="icon button__icon">
              <use href="#close" xlink:href="#close"></use>
            </svg>
          </button>
        </div>

        <nav id="menu">
          <ul class="menu__list">
            <li><a href="/over-ons/" class="menu__link link">Over ons</a></li>
            <li><a href="/events/" class="menu__link link">Events</a></li>
            <li><a href="/publicaties/" class="menu__link link">Publicaties</a></li>
            <li><a href="/leden/" class="menu__link link">Leden</a></li>
            <li>
              <a href="/vacatures/" class="menu__link link">
                Vacatures <span data-vacancy-count="true" class="menu__counter">171</span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="menu__footer">
          <a href="/inloggen/" target="_blank" class="button button--target-area-self button--secondary">
            <span class="button__content">Inloggen</span>
            <svg role="presentation" data-icon="arrow-right" class="icon button__icon">
              <use href="#arrow-right" xlink:href="#arrow-right"></use>
            </svg>
          </a>

          <a href="https://aanmelden-dutchdigitalagencies.com/lid-worden" target="_blank" 
            class="button button--target-area-self">
            <span class="button__content">Word lid</span>
            <svg role="presentation" data-icon="arrow-right" class="icon button__icon">
              <use href="#arrow-right" xlink:href="#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>