/* Error: Undefined operation "21 * 100%".
 *    ,
 * 40 |         transform: translateX(#{$n - 1} * 100%);
 *    |                               ^^^^^^^^^^^^^^^^
 *    '
 *   styles\photopara.scss 40:31  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "21 * 100%".\a    \2577 \a 40 \2502          transform: translateX(#{$n - 1} * 100%);\d\a    \2502                                ^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\photopara.scss 40:31  root stylesheet';
}
