* {
    text-decoration: none;
}

body {
    background-color: var(--color-white);
    margin: var(--spacing-16);
    display: grid;
}

header {
    height: var(--spacing-128);
    border: var(--color-black) 2px solid;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    background-color: var(--color-white);

    div:nth-of-type(1) {
        margin: var(--spacing-16);
        height: var(--spacing-64);
    }

    div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-16);
        padding: var(--spacing-4);

        a {
            color: var(--color-black);
            font-family: var(--font-family-mono);
            padding: 0.5em;

            &:hover {
                border: var(--color-black) 2px solid;
            }

            span {
                background-color: var(--color-blue);
                color: var(--color-white);
                padding: var(--spacing-12);
            }
        }
    }

    div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-32);
            a {
                background-color: var(--color-white);
                border: var(--color-black) 2px solid;
                width: var(--spacing-64);
                height: var(--spacing-64);

                svg {
                    scale: 0.5;
                }

                &:hover{
                    background-color: var(--color-blue);
                    animation: expand 0.5s ease-in-out forwards;
                }
    }
}
}

.publications {
    border-left: var(--color-black) 2px solid;
    border-right: var(--color-black) 2px solid;
    border-bottom: var(--color-black) 2px solid;
    h1 {
        font-family: var(--font-family-regular);
        display:flex;
        justify-content: center;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        margin: var(--spacing-16);
    }
}

.content {
    border-left: var(--color-black) 2px solid;
    border-right: var(--color-black) 2px solid;
    border-bottom: var(--color-black) 2px solid;

    form {
        height: var(--spacing-64);
        border-bottom: var(--color-black) 2px solid;
        display: flex;
        align-items: center;

        div:nth-of-type(2) {
            position: relative;
            justify-content: end;
        }
    }
}

.textfield {
    border: var(--color-black) 2px solid;
    background-color: var(--color-white);
    padding: var(--spacing-4);
    margin-left: 2em;
}

.form-filters {
    border: var(--color-black) 2px solid;
    background-color: var(--color-white);
    padding: var(--spacing-4);
    display: flex;
    justify-content: flex-end;
}

.gridview {

    /* dit moet in de container blijven */
    article {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    img {
        border: var(--color-black) 2px solid;
        width: 328px;
        height: 512px;
        object-fit: cover;
    }

    h2 {
        display: none;
    }
}


.laatste-nieuws {
    border-left: var(--color-black) 2px solid;
    border-right: var(--color-black) 2px solid;
    
    h2 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }

    a {
        border: var(--color-black) 2px solid;
        padding: 1em;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* footer */

.get-updated {
    display: flex;
    align-items: center;
    border: var(--border);

    h3 {
        margin: 1em;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        border: var(--border);
        padding-left: 0.5em;
        padding-right: 0.5em;
        font: var(--font-family-mono);
    }
}

.partners {
    display: flex;
    align-items: center;
    border: var(--border);
    
    h3 {
        margin: 1em;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        border: var(--border);
        padding-left: 0.5em;
        padding-right: 0.5em;
        font: var(--font-family-mono);
    }
}

.foto-parade {
    height: 8em;
    border-left: var(--border);
    border-right: var(--border);
}
  


footer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 80% 20%;
    
    div {
        border: var(--border);
        padding: 1em;
    }

    div:nth-of-type(1) {
    }

    div:nth-of-type(2) {
        a {
            font-family: var(--font-family-mono);
            display: flex;
            gap: 1em;
        }
    }

    div:nth-of-type(4) {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;

        p {
            display: flex;
            justify-content: center;
        }
        
        a {
            border: var(--border);
            margin-top: -2em;
            padding: 0.5em;
            font-family: var(--font-family-mono);
        }
    }
}
