:root{

/* fonts desktop */
--desktop-h1: 96px;
--desktop-h2: 64px;
--desktop-h3: 48px;
--desktop-h4: 32px;
--desktop-h5: 24px;
--desktop-h6: 24px;
--desktop-p: 18px;
--desktop-subtext: 16px;

/* fonts tablet */
--tablet-h1: 72px;
--tablet-h2: 48px;
--tablet-h3: 36px;
--tablet-h4: 28px;
--tablet-h5: 22px;
--tablet-h6: 20px;
--tablet-p: 16px;
--tablet-subtext: 16px;

/* fonts mobile */
--mobile-h1: 48px;
--mobile-h2: 40px;
--mobile-h3: 32px;
--mobile-h4: 24px;
--mobile-h5: 18px;
--mobile-h6: 18px;
--mobile-p: 16px;
--mobile-subtext: 14px;

/* spacing */
--spacing-8: 8px;
--spacing-12: 12px;
--spacing-16: 16px;
--spacing-24: 24px;
--spacing-32: 32px;
--spacing-40: 40px;
--spacing-48: 48px;
--spacing-64: 64px;
--spacing-72: 72px;
--spacing-96: 96px;
--spacing-104: 104px;
--spacing-128: 128px;

/* fonts */
--font-family-regular: Archivo, sans-serif;
--font-family-mono: MartianMono, monospace;

/* colors */
--color-black: #222226;
--color-grey: #666666;
--color-white: #ffffff;
--color-blue: #364bf7;
--color-yellow: #f7e19f;

/* grid templates */
--grand-grid-colums: 1fr, repeat(12, 1fr), 1fr;
--grid-columns: 64px, repeat(12, 1fr), 64px;
--small-grid-columns: 16px, repeat(4, 1fr), 16px;
--grand-grid-gap: 32px;
}

.archivo-semi-bold {
    font-family: "Archivo-semi-bold", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -4%;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.archivo-regular {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -4%;
    font-weight: 400;
    font-style: normal;
}

.martian-mono {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 0%;
    font-style: normal;
}

h1 {
    font-family: "Archivo-semi-bold", sans-serif;
    font-size: var(--desktop-h1);

    @media (max-width:1200px) {
        font-size: var(--tablet-h1);
    }
    @media (max-width:530px) {
        font-size: var(--mobile-h1);
    }
}

h2 {
    font-family: "Archivo-semi-bold", sans-serif;
    font-size: var(--desktop-h2);

    @media (max-width:1200px) {
        font-size: var(--tablet-h2);
    }
    @media (max-width:530px) {
        font-size: var(--mobile-h2);
    }
}

h3 {
    font-family: "Archivo", sans-serif;
    font-size: var(--desktop-h3);

    @media (max-width:1200px) {
        font-size: var(--tablet-h3);
    }
    @media (max-width:530px) {
        font-size: var(--mobile-h3);
    }
}

h4 {
    font-family: "Archivo", sans-serif;
    font-size: var(--desktop-h4);

    @media (max-width:1200px) {
        font-size: var(--tablet-h4);
    }
    @media (max-width:530px) {
        font-size: var(--mobile-h4);
    }
}

p {
    font-family: "Archivo-semi-bold", sans-serif;
    font-size: var(--desktop-p);

    @media (max-width:1200px) {
        font-size: var(--tablet-p);
    }
    @media (max-width:530px) {
        font-size: var(--mobile-p);
    }
}

.subtext {
    font-family: "Martian Mono", monospace;
    font-size: var(--desktop-subtext);

    @media (max-width:1200px) {
        font-size: var(--tablet-subtext);
    }
    @media (max-width:530px) {
        font-size: var(--mobile-subtext);
    }
}

/* de general font werkt niet */

* {
    text-decoration: none;
}

body {
    background-color: var(--color-white);
    margin: var(--spacing-16);
    display: grid;
}

header {
    height: var(--spacing-128);
    border: var(--color-black) 2px solid;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    background-color: var(--color-white);

    div:nth-of-type(1) {
        margin: var(--spacing-16);
        height: var(--spacing-64);
    }

    div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-16);
        padding: var(--spacing-4);

        a {
            color: var(--color-black);
            font-family: var(--font-family-mono);
            padding: 0.5em;

            &:hover {
                border: var(--color-black) 2px solid;
            }

            span {
                background-color: var(--color-blue);
                color: var(--color-white);
                padding: var(--spacing-12);
            }
        }
    }

    div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-32);
            button {
                background-color: var(--color-white);
                border: var(--color-black) 2px solid;
                width: var(--spacing-64);
                height: var(--spacing-64);

                &:hover{
                    background-color: var(--color-blue);
                    animation: expand 0.5s ease-in-out forwards;
                }
    }
}
}

.publications {
    border-left: var(--color-black) 2px solid;
    border-right: var(--color-black) 2px solid;
    border-bottom: var(--color-black) 2px solid;
    h1 {
        font-family: var(--font-family-regular);
        display:flex;
        justify-content: center;
    }

    p {
        text-align: center;
        margin: var(--spacing-16);
    }
}

.content {
    border-left: var(--color-black) 2px solid;
    border-right: var(--color-black) 2px solid;
    border-bottom: var(--color-black) 2px solid;

    form {
        height: var(--spacing-64);
        border-bottom: var(--color-black) 2px solid;
        display: flex;
        align-items: center;
    }
}

.textfield {
    border: var(--color-black) 2px solid;
    background-color: var(--color-white);
    padding: var(--spacing-4);
    margin-left: 2em;
}

.form-filters {
    border: var(--color-black) 2px solid;
    background-color: var(--color-white);
    padding: var(--spacing-4);
    display: flex;
    justify-content: flex-end;
}

.gridview {

    /* dit moet in de container blijven */
    article {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        overflow: scroll;
    }

    img {
        border: var(--color-black) 2px solid;
        width: 328px;
        height: 512px;
    }

    h2 {
        display: none;
    }
}
  


/* keyframes */

@keyframes expand {
    0% {
        scale: 1;
        border: var(--color-black) 2px solid;
        opacity: 1;
    }

    50% {
        scale: 1.3;
        border: var(--color-black) 1.5px solid;
        opacity: 0.7;
    }

    75% {
        scale: 1.5;
        border: var(--color-black) 1px solid;
        opacity: 0.4;
    }
    
    100% {
        scale: 1.8;
        border: var(--color-black) 0.5px solid;
        opacity: 0;
    }
}