* {
    text-decoration: none;
}

body {
    background-color: var(--color-white);
    margin: var(--spacing-16);
    display: grid;
}

.desktop-header {
    height: var(--spacing-128);
    border: var(--border);
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    background-color: var(--color-white);

    @media (max-width:720px) {
        display: none;
    }

    div:nth-of-type(1) {
        margin: var(--spacing-16);
        height: var(--spacing-64);
    }

    div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-16);
        padding: var(--spacing-4);

        a {
            color: var(--color-black);
            font-family: var(--font-family-mono);
            padding: 0.5em;

            &:hover {
                text-decoration: underline;
                transition: 3s;
            }

            span {
                background-color: var(--color-blue);
                color: var(--color-white);
                padding: var(--spacing-12);
            }
        }

        i {
            height: var(--spacing-32);
            border: var(--border);
        }
    }

    div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-32);
            a {
                background-color: var(--color-white);
                border: var(--border);
                width: var(--spacing-64);
                height: var(--spacing-64);

                svg {
                    scale: 0.5;
                }

                &:hover{
                    background-color: var(--color-blue);
                    animation: expand 0.5s ease-in-out forwards;
                }
    }
}
}

.mobile-header {
    height: var(--spacing-128);
    border: var(--border);
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    background-color: var(--color-white);

    @media (min-width:720px) {
        display: none;
    }

    div:nth-of-type(1) {
        margin: var(--spacing-16);
        height: var(--spacing-64);
    }

    div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-16);
        padding: var(--spacing-4);

        select {
            margin: 2em;
            border: var(--border);
            background-color: var(--color-white);
        }

        a {
            color: var(--color-black);
            font-family: var(--font-family-mono);
            padding: 0.5em;

            &:hover {
                text-decoration: underline;
                transition: 3s;
            }

            span {
                background-color: var(--color-blue);
                color: var(--color-white);
                padding: var(--spacing-12);
            }
        }

        i {
            height: var(--spacing-32);
            border: var(--border);
        }
    }

    div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-32);
            a {
                background-color: var(--color-white);
                border: var(--border);
                width: var(--spacing-64);
                height: var(--spacing-64);

                svg {
                    scale: 0.5;
                }

                &:hover{
                    background-color: var(--color-blue);
                    animation: expand 0.5s ease-in-out forwards;
                }
    }
}
}

.publications {
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    h1 {
        font-family: var(--font-family-regular);
        display:flex;
        justify-content: center;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        margin: var(--spacing-16);
    }
}

.content {
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);

    form {
        height: var(--spacing-64);
        border-bottom: var(--border);
        display: flex;
        align-items: center;

        div:nth-of-type(2) {
            position: relative;
            justify-content: end;
        }
    }
}

.textfield {
    border: var(--border);
    background-color: var(--color-white);
    padding: var(--spacing-4);
    margin-left: 2em;
}

.form-filters {
    border: var(--border);
    background-color: var(--color-white);
    padding: var(--spacing-4);
    display: flex;
    justify-content: flex-end;
}

.gridview {
    height: 16em;
    border-left: var(--border);
    border-right: var(--border);

}

.publicaties-1 {
    position: relative;
    article {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    img {
        border: var(--border);
        width: var(--spacing-128);
        height: var(--spacing-128);
        object-fit: cover;
    }
    
    h2 {
        display: none;
    }
}


.publicaties-2 {
    position: relative;

    article {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }

    img {
        border: var(--border);
        width: var(--spacing-128);
        height: var(--spacing-128);
        object-fit: cover;
    }
    
    h2 {
        display: none;
    }

}


.laatste-nieuws {
    border-left: var(--border);
    border-right: var(--border);
    
    h2 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }

    a {
        border: var(--border);
        padding: 1em;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* footer */

.get-updated {
    display: flex;
    align-items: center;
    border: var(--border);

    h3 {
        margin: 1em;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        border: var(--border);
        padding-left: 0.5em;
        padding-right: 0.5em;
        font: var(--font-family-mono);
    }
}

.partners {
    display: flex;
    align-items: center;
    border: var(--border);
    
    h3 {
        margin: 1em;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        border: var(--border);
        padding-left: 0.5em;
        padding-right: 0.5em;
        font: var(--font-family-mono);
    }
}

.foto-parade {
    height: 8em;
    border-left: var(--border);
    border-right: var(--border);
}
  


footer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 80% 20%;
    
    div {
        border: var(--border);
        padding: 1em;
    }

    div:nth-of-type(1) {

        .login {
            font-family: var(--font-family-mono);
            position: relative;
            top: 10em;
            right: 6em;
        }

         img {
            position: relative;
         }
    }

    div:nth-of-type(2) {
        a {
            font-family: var(--font-family-mono);
            display: flex;
            gap: 5em;
            line-height: 40px;
        }

    }

    div:nth-of-type(3) {
        div {
            border: none;
        }
    }

    div:nth-of-type(4) {
        grid-row: 2 / 2;
        grid-column: 1 / 4;
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        height: var(--spacing-64);

        .links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--spacing-32);
            align-self: flex-start; 
            border: none;
            font-family: var(--font-family-mono);
        }

        a {
            border: var(--border);
            padding: var(--spacing-16);
        }

        p {
            margin-top: -3em;
            align-self: flex-end;
        }
    }
}
